{{ 'accordion.css' | asset_url | stylesheet_tag }}

<div class="accordion_section">
  <div class="accordion">
    
  </div>

</div>











{% schema %}
  {
  "name": "accordion",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "accordion",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}