{{ 'accordion.css' | asset_url | stylesheet_tag }}

<div class="accordion_section">
  <div class="accordion">
     {%- for block in section.blocks -%}
    <details>
      <summary>{{ block.settings.accordion_head }}</summary>
      <p>{{ block.settings.accordion_text }}</p>
   </details>
    {% endfor %}
  </div>

</div>











{% schema %}
  {
  "name": "accordion",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "accordion",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}