{{ 'accordion.css' | asset_url | stylesheet_tag }}

<div class="accordion_detales">
  <div class="accordion_section">
   {%- for block in section.blocks -%}
  <div class="accordion">
    <details>
      <summary>{{ block.settings.accordion_head }}
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" /></path>
        </svg>

      </summary>
      <p>{{ block.settings.accordion_text }}</p>
   </details>
  </div>
 {% endfor %}
</div>
</div>












{% schema %}
  {
  "name": "accordion",
  "tag": "section",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "accordion_head",
          "label": "Heading",
          "default": "Quick links"
        },
        {
        "type": "textarea",
        "id": "accordion_text",
        "label": "accordion ext",
        "default": "Welcome to my shop!"
      }
    ]
  }
 ],
  "presets": [
     {
       "name": "accordion",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}