{{ 'code_section.css' | asset_url | stylesheet_tag }}

  <div class="codepen_section">
   <div class="coad">
     <div class="coad_section">
       <h2>{{ section.settings.header }}</h2>
     </div>
   </div>
  </div>







{% schema %}
  {
  "name": "Code Section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Quick links"
    }
  ],
  
  "presets": [
     {
       "name": "Code Section",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}