{{ 'code_game_section.css' | asset_url | stylesheet_tag }}

<div class="code_game">
  <div class="game_section">
     <div class="games_head">
       <h3>{{ section.settings.game_head }}</h3>
     </div>
  </div>

</div>




{% schema %}
  {
  "name": "code_game_section",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "code_game_section",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}