{{ 'code_section.css' | asset_url | stylesheet_tag }}

  <div class="codepen_section">
   <div class="coad">
     
   </div>
  </div>







{% schema %}
  {
  "name": "Code Section",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "Code Section",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}