{{ 'column.css' | asset_url | stylesheet_tag }}


<section>
  <div class="column_section">
   <div class="column_header">
      <h3>{{ section.settings.header }}</h3>
   </div>
  </div>
</section>











{% schema %}
 {
  "name": "Column",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "Column",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}