{{ 'column.css' | asset_url | stylesheet_tag }}


<section>
  <div class="column_section">
   <div class="column_header">
      <h3>{{ section.settings.header }}</h3>
   </div>
    {% if section.settings.column_star != blank  %}
       {%- for block in section.blocks -%}
      <div class="column_star">
          <img src="{{ section.settings.star_images | img_url: 'master'}}">
      </div>
        {% endfor %}
     {% endif %}
    <div class="column_line">
      <p>{{ section.settings.lime }}</p>
    </div>
  </div>
</section>











{% schema %}
 {
  "name": "Column",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "line",
      "label": "Heading",
      "default": "Quick links"
    }
  ],
  "blocks": [
  {
  "type": "images",
  "name": "Images",
  "settings": [
     {
      "type": "image_picker",
      "id": "star_images",
      "label": "image"
    }
  ] 
  }
],
  "presets": [
     {
       "name": "Column",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}