{{ 'column.css' | asset_url | stylesheet_tag }}


<section>
  <div class="column_section">
   <div class="column_header">
      <h3>{{ section.settings.header }}</h3>
   </div>
    <div class="column_line">
      <p>{{ section.settings.lime }}</p>
    </div>
  </div>
</section>











{% schema %}
 {
  "name": "Column",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "line",
      "label": "Heading",
      "default": "Quick links"
    }
  ],
  
  "presets": [
     {
       "name": "Column",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}