{{ 'makedo.css' | asset_url | stylesheet_tag }}

<div class="makedo_section">
  <div class="background_img">
     
  </div>
  <div class="makedo_headr">
    <h3>{{ section.settings.header }}</h3>
  </div>

</div>










{% schema %}
  {
  "name": "maked",
  "tag": "section",
  "settings": [
    {
    "type": "text",
    "id": "header",
    "label": "Heading",
    "default": "Quick links"
  }
  ],
  
  "presets": [
     {
       "name": "makedo",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}