{{ 'news_letter.css' | asset_url | stylesheet_tag }}

<div class="section">
  <div class="news_section".
    
  </div>

</div>












{% schema %}
  {
  "name": "news_letter",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "news_letter",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}