{{ 'news_letter.css' | asset_url | stylesheet_tag }}


  <div class="news_section">
    <div class="news_header">
      <h2>{{ section.settings.head }}</h2>
    </div>
    <div class="head">
      <h3>{{ section.settings.Master}}</h3>
    </div>
  </div>














{% schema %}
  {
  "name": "news_letter",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "head",
      "label": "Heading",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "Master",
      "label": "Heading",
      "default": "Quick links"
    }
    
  ],
  
  "presets": [
     {
       "name": "news_letter",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}