{{ 'news_letter.css' | asset_url | stylesheet_tag }}

<div class="section">
  <div class="news_section">
    <div class="header">
      <h2>{{ section.settings.head }}</h2>
    </div>
  </div>

</div>












{% schema %}
  {
  "name": "news_letter",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "head",
      "label": "Heading",
      "default": "Quick links"
    }
  ],
  
  "presets": [
     {
       "name": "news_letter",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}