{{ 'w3_img_text_overlep.css' | asset_url | stylesheet_tag }}

<div class="overlep_section">
   {%- for block in section.blocks -%}
  <div class="overlep">
    <div class="img_text">
      {% if section.settings.img != blank  %}
       <div class="img">
          <img src="{{ block.settings.overlep| img_url: 'master' }}">
      </div>
      {% endif %}
     {% if section.settings.text != blank  %}
      <div class="text">
          <p>{{ block.settings.text }}</p>
      </div>
      {% endif %}
    </div>
     {% if section.settings.bolder != blank  %}
     <div class="bolder">
       <img src="{{ block.settings.border| img_url: 'master' }}">
     </div>
    {% endif %}
  </div>
{% endfor %}
</div>







{% schema %}
{
"name": "w3_img_text_overlep",
"tag": "section",
"settings": [
  
],
"blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "image_picker",
          "id": "overlep",
          "label": "image"
        },
        {
          "type": "image_picker",
          "id": "border",
          "label": "image"
        }
        
    ]
  }
 ],
"presets": [
   {
     "name": "w3_img_text_overlep",
     "settings": {
        
      }
   }
 ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}