{{ 'w3_img_text_overlep.css' | asset_url | stylesheet_tag }}

<div class="overlep_section">
  <div class="overlep">
      <div class="img">
          <img src="{{ block.settings.overlep| img_url: 'master' }}">
      </div>
      <div class="text">
          <p>{{ block.settings.text }}</p>
      </div>
  </div>

</div>







{% schema %}
{
"name": "w3_img_text_overlep",
"tag": "section",
"settings": [
  
],

"presets": [
   {
     "name": "w3_img_text_overlep",
     "settings": {
        
      }
   }
 ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}