{{ 'w3school_collumn.css' | asset_url | stylesheet_tag }}

<div class="collumn_section">
<div class="collumn">
<div class="collumn_text">
<h3>{{ block.settings.head }}</h3>
  <p>{{ block.settings.collumn_text }}</p>
</div>
</div>
</div>













{% schema %}
  {
  "name": "w3school_collumn",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "w3school_collumn",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}