{{ 'w3banner.css' | asset_url | stylesheet_tag }}


<div class="banner_section">
   <div class="section.settings.banner_img">
      
   </div>
</div>















{% schema %}
  {
  "name": "w3banner",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "w3banner",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}