{{ 'w3banner.css' | asset_url | stylesheet_tag }}


<div class="banner">
   <div class="banner_section">
       <div class="img_section">
         <img src="{{ section.settings.banner_logo | img_url: 'master' }}">
       </div>
         <div class="button">
           <a href="#">{{ section.settings.login_button }}</a>
         </div>
         
   </div>
</div>















{% schema %}
  {
  "name": "w3banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_logo",
      "label": "Banner logo"
    },
    {
      "type": "text",
      "id": "login_button",
      "label": "BUtton",
      "default": "Quick links"
     }
  ],
  
  "presets": [
     {
       "name": "w3banner",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}