{{ 'w3banner.css' | asset_url | stylesheet_tag }}


<div class="banner_section">
   <div class="section.settings.banner_img">
       <img src="{{ block.settings.banner_image | img_url: 'master' }}">
   </div>
</div>















{% schema %}
  {
  "name": "w3banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner img"
    }
  ],
  
  "presets": [
     {
       "name": "w3banner",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}