.accordion summary {
    color: #000;
    font-size: 20px;
    display: flex;
   justify-content: space-between;
}
.accordion p {
    color: #000;
    font-size: 19px;
    max-width: 898px;
    line-height: 22px;
    margin: 0;
}
/* summary:after {
   margin-right: 30px;
    content: "";
    display: flex;
    margin-left: auto;
    transform-origin: center;
  transform: rotate(91deg);
    transition: all .3s ease-in-out;
    width: 0.65em;
    height: 0.65em;
    border-left: 2px solid;

} */
.accordion_section {
    max-width: 1024px;
    margin: 0 auto;
}
.accordion {
    padding: 14px 0px;
}
.accordion_detales {
    background: #a8d9de;
    padding: 32px 0;
}
.accordion_detales .accordion {
    border-top: none;
    border-bottom: 2px solid #000;
}
details[open] > summary:after {
  transform: rotate(225deg);
}