.accordion summary {
    color: #000;
    font-size: 20px;
    display: flex;
   justify-content: space-between;
}
.accordion p {
    color: #000;
    font-size: 15px;
    max-width: 898px;
    line-height: 22px;
    margin: 0;
}
svg.w-6.h-6.plus {
    display: none;
}
svg.w-6.h-6.minus {
    display: block;
}
.accordion_section {
    max-width: 1024px;
    margin: 0 auto;
   padding: 30px;
}
.accordion {
    padding: 14px 0px;
}
.accordion_detales {
    background: #a8d9de;
    padding: 32px 0;
}
.accordion_detales .accordion {
    border-top: none;
    border-bottom: 2px solid #000;
}
details[open] > summary  svg.w-6.h-6.plus {
    display: block;
}
details[open] > summary svg.w-6.h-6.minus {
    display: none;
}

