.games_head h3 {
    font-family: Freckle Face, cursive;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
}
.games_text p {
    font-size: 32px;
    margin: 0;
    text-align: center;
    font-family: Freckle Face, cursive;
    font-weight: 700;
    color: #000;
}
.games_img {
    text-align: center;
    margin-top: 25px;
}
.game_button {
    text-align: center;
    background: #000;
    width: 223px;
    border-radius: 20px;
    margin: 0 auto;
}
.game_button a {
    color: #fff;
    text-decoration: none;
    background-color: #282A35;
    font-size: 18px;
}
.code_game {
    background: #96D4D4;
    padding: 50px 0px;
}
.game_button p {
    padding: 7px;
    font-size: 20px;
}
@media only screen and (max-width:768px) {
.games_text p {
    font-size: 22px;
}
}
@media only screen and (max-width:400px) {
.games_text p {
    font-size: 17px;
    line-height: 27px;
}
}