.coad_section h2 {
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0;
}
.coad_text p {
    color: #FFC0C7;
    font-weight: 700;
    margin-top: 30px!important;
    font-size: 23px;
    text-align: center;
}
.form_section input {
    border-radius: 20px;
    background: #fff;
    border: navajowhite;
    padding: 12px 89px;
    margin-bottom: 20px;
}
.codepen_section {
    background: antiquewhite;
}
form.example {
    text-align: center;
}
.form_section input {
    padding: 8px;
    font-size: 17px;
  
    border-radius: 25px;
    float: left;
    width: 80%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
}
button#learntocode_searchbtn {
    border-radius: 25px;
    width: 20%;
    padding: 18px;
    background: #04AA6D;
    color: white;
    font-size: 17px;
   border: 1px solid #04AA6D;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form_section {
    padding-bottom: 20px;
}