.games_head h3 {
    font-family: Freckle Face, cursive;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
}
.games_text p {
    font-size: 32px;
    margin: 0;
    text-align: center;
    font-family: Freckle Face, cursive;
    font-weight: 700;
    color: #000;
}
.games_img {
    text-align: center;
}
.game_button {
    text-align: center;
    background: #000;
    width: 223px;
    border-radius: 20px;
    margin: 0 auto;
}
.game_button a {
    color: #fff;
    text-decoration: none;
}