.color_head h3 {
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #000;
}
.color_text p {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin: 0;
}
.color_img {
    text-align: center;
    margin-top: 20px;
}
.color_img img:hover {
    opacity: 0.66;
}
.color_piker {
    padding: 71px 0px;
}

