.column_section {
    text-align: center;
     padding: 30px 0px;
    background: #FAEEDE;
}
.column_star svg {
    width: 30px;
    height: auto;
}
.column_header h2 {
    width: 100%;
    font-size: 50px;
    line-height: 1.35;
    letter-spacing: normal;
    color: #cd9944;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-family: Sofia,sans-serif;
}
.head h3 {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: #687856;
    font-family: Sofia,sans-serif;
}
.head_two_text h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: #687856;
    font-family: Sofia,sans-serif;
}
.column_line {
    font-size: 24px;
    font-weight: 700;
    color: #687856;
    margin: 0;
    font-family: Sofia,sans-serif;
}
.star {
    display: flex;
    text-align: center;
    justify-content: center;
}
.star-svg{
  background-color:none;
}
.star-svg path{
  fill: #cd9944;
}
.section-2 {
    display: flex;
    background: #FAEEDE;
    justify-content: space-between;
}
.star_section {
    display: flex;
}