.wrapper {
    max-width: 1251px;
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 5%;
}
.makedo_headr h3 {
    font-family: Proxima Nova;
    font-size: 40px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
}
.background_img img {
    width: 100%;
}
.background_img {
    width: 100%;
}
.column_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.colum_text {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 95%;
    /* align-items: center; */
    display: flex;
    justify-content: center;
}
.paragraph_section p {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.column_img {
    text-align: center;
}
.paragraph_section p {
    text-align: center;
}
.colum_text h3 {
    color: #fff;
}
.img_section {
    color: #fff;
}
.makedo_headr h3 {
    color: #fff;
}
/* .paragraph_section {
    padding-top: 30px;
} */