.makedo_section {
    position: relative;
}
.wrapper {
    max-width: 1251px;
    margin: 0 auto;
}
.wrap_class {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: calc(100% - 100px);
}
.column_img img {
    width: 60px;
}
.imges_section img {
    width: 100%;
    height: auto;
}
.imges_section {
    position: relative;
}
.makedo_headr h2 {
  font-family: Proxima Nova;
  font-size: 40px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: center;
 color: #fff;
}
.background_img img {
  width: 100%;
}
.background_img {
  width: 100%;
}
.column_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
}
.img_section .colum_text {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 95%;
  display: flex;
  justify-content: center;
}
.img_section .paragraph_section p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding: 20px 0px;
}
.img_section .column_img {
  text-align: center;
}
.img_section .colum_text h3 {
  color: #fff;
}
.img_section {
    width: 25%;
 padding: 0 20px 0px 0px;
text-align: center;

}
.makedo_headr h3 {
  color: #fff;
}
.column_section.mobile_wrap {
    border: 2px dashed;
    border-radius: 132px;
    color: #fff;
    position: relative;
 
}
.aerro_section .dot {
  border-radius: 50%;
  border: 2px solid #04B3BF;
  width: 20px;
  height: 20px;
  background: #04B3BF;
  position: absolute;
  margin-top: -13px;
}
.aerro svg {
  width: 26px;
}
.aerro {
  position: absolute;
  transform: translate(50%,-40%);
}
.mobile_wrap:after {
content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
   background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.06006 15.9143L24.0601 15.9143' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M16 6.66675L25.3333 16.0001L16 25.3334' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
    display: block;
    width: 32px;
    height: 32px;
    transform: rotate(180deg);
    margin: 0 auto;
    top:auto;
}
.footert h2 {
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    transform: rotate(6deg);
}
.wrap {
    display: block;
}
.phon_wrap_seection {
    display: none;
}
.moblie_imges_section {
    display: none;
}
.imges_section{
  display:block;
}

/* =====================moblie================= */
@media screen and (max-width: 998px) {
  .wrap {
      display: none;
  }
  .phon_wrap_seection {
      display: block;
  }
  .phon_wrap .column_section.mobile_wrap {
    border: none;
}
.img_section {
    width: 100%;
}
.img_section .paragraph_section p {
    padding: 0;
    margin: 0;
}
.phon_wrap_seection .mobile_wrap:after{
  display:none;
}
  .moblie_imges_section {
    display: block;
}
  .imges_section{
  display:none;
}
  .moblie_imges_section img {
    width: 100%;
}
.phon_wrap {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    width: calc(50% - 50px);
}
.moblie_makedo {
    position: relative;
}
.grid_item.grid_index-1 {
    position: relative;
}
.grid_item.grid_index-3 {
    position: relative;
}
  .grid_item.grid_index-2 {
    position: relative;
}
  .grid_item.grid_index-4 {
    position: relative;
}
.grid_item.grid_index-1 .border_left {
    position: absolute;
   top: 75px;
    left: 0;
    border: 2px dashed #fff;
    border-radius: 12px 0 0 12px;
    width: 84px;
    height: 100%;
    border-right: 0;
    display: block;
}
.grid_item.grid_index-1 .border-right{
    position: absolute;
    top: 75px;
    right: 0;
    border: 2px dashed #fff;
    border-radius: 0 12px;
    width: 84px;
    height: 98px;
    border-left: 0;
    border-bottom: 0;
}
.grid_item.grid_index-1 .border_left:before{
    content: "";
    position: absolute;
    top: auto;
    bottom: -9px;
    right: -12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.06006 15.9143L24.0601 15.9143' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M16 6.66675L25.3333 16.0001L16 25.3334' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.grid_item.grid_index-1 .border-right:after{
  content: "";
    position: absolute;
    top: auto;
    transform: rotate(180deg);
    top: -9px;
    left: -12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.06006 15.9143L24.0601 15.9143' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M16 6.66675L25.3333 16.0001L16 25.3334' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.grid_item.grid_index-2 .border-right {
  
    position: absolute;
    top: 75px;
    right: 0;
    border: 2px dashed #fff;
    width: 84px;
    height: 100%;
    border-left: 0;
    border-radius: 0 12px 12px 0;
}
  .grid_item.grid_index-2 .border-right:before{
    content: "";
    position: absolute;
    top: auto;
    top: -9px;
    left: -12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.06006 15.9143L24.0601 15.9143' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M16 6.66675L25.3333 16.0001L16 25.3334' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.grid_item.grid_index-3 .border-right{
   position: absolute;
    top: auto;
    right: 0;
    border: 2px dashed #fff;
    width: 84px;
    height: 98px;
    border-left: 0;
    border-top: 0;
    border-radius: 12px 0;
}
.grid_item.grid_index-3 .border-right:after{
  content: "";
    position: absolute;
    top: auto;
    transform: rotate(270deg);
    top: -17px;
    left: 67px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
   background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.06006 15.9143L24.0601 15.9143' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M16 6.66675L25.3333 16.0001L16 25.3334' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
}
 .grid_item.grid_index-3 .border_left {
    position: absolute;
    top: 75px;
    left: 0;
    border: 2px dashed #fff;
    border-radius: 12px 0 0 12px;
    width: 84px;
    height: 100%;
    border-right: 0;
    display: block;
}
.grid_item.grid_index-3 .border_left:before{
    content: "";
    position: absolute;
    top: auto;
    bottom: -9px;
    right: -12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.06006 15.9143L24.0601 15.9143' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M16 6.66675L25.3333 16.0001L16 25.3334' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
}
a:empty, ul:empty, dl:empty, div:empty, section:empty, article:empty, p:empty, h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty {
    display: block;
}
 .column_section {
    padding: 20px 20px;
}
}
