.makedo_section {
    position: relative;
}
.wrapper {
    max-width: 1251px;
    margin: 0 auto;
}
.wrap_class {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: calc(100% - 100px);
}
.column_img img {
    width: 60px;
}
.imges_section img {
    width: 100%;
    height: auto;
}
.imges_section {
    position: relative;
}
.makedo_headr h2 {
  font-family: Proxima Nova;
  font-size: 40px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: center;
 color: #fff;
}
.background_img img {
  width: 100%;
}
.background_img {
  width: 100%;
}
.column_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
}
.img_section .colum_text {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 95%;
  display: flex;
  justify-content: center;
}
.img_section .paragraph_section p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding: 20px 0px;
}
.img_section .column_img {
  text-align: center;
}
.img_section .colum_text h3 {
  color: #fff;
}
.img_section {
/*   width: 100%; */
 padding: 0 20px 0px 0px;
text-align: center;

}
.makedo_headr h3 {
  color: #fff;
}
.column_section.mobile_wrap {
    border: 2px dashed;
    border-radius: 132px;
    color: #fff;
    position: relative;
 
}
.aerro_section .dot {
  border-radius: 50%;
  border: 2px solid #04B3BF;
  width: 20px;
  height: 20px;
  background: #04B3BF;
  position: absolute;
  margin-top: -13px;
}
.aerro svg {
  width: 26px;
}
.aerro {
  position: absolute;
  transform: translate(50%,-40%);
}
.mobile_wrap:after {
content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
   background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.06006 15.9143L24.0601 15.9143' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M16 6.66675L25.3333 16.0001L16 25.3334' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
    display: block;
    width: 32px;
    height: 32px;
    transform: rotate(180deg);
    margin: 0 auto;
    top:auto;
}
.footert h2 {
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    transform: rotate(6deg);
}
.wrap {
    display: block;
}
.phon_wrap_seection {
    display: none;
}
.moblie_imges_section {
    display: none;
}
.imges_section{
  display:block;
}
/* =====================moblie================= */
@media screen and (max-width: 998px) {
  .wrap {
      display: none;
  }
  .phon_wrap_seection {
      display: block;
  }
  .phon_wrap .column_section.mobile_wrap {
    border: none;
}
.img_section {
    width: 100%;
}
.img_section .paragraph_section p {
    padding: 0;
    margin: 0;
}
.phon_wrap_seection .mobile_wrap:after{
  display:none;
}
  .moblie_imges_section {
    display: block;
}
  .imges_section{
  display:none;
}
}
