.news_header h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}
.news_header {
    text-align: center;
}
.head h3 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: rgba(40,42,53,.7);
    padding-top: 15px;
}
.pera {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #282a35;
}
.free_plan_button {
    background: #fff4a3;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    height: 47px;
    width: 200px;
    align-items: center;
    display: flex;
}
.free_plan_button a {
    font-size: 17px;
    color: #282a35;
    font-weight: 700;
    text-decoration: none;
    margin: 0 auto;
}