.news_header h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}
.news_header {
    text-align: center;
}
.head h3 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: rgba(40,42,53,.7);
    padding-top: 15px;
}