.cart_header h3 {
    font-size: 45px;
    font-weight: 700;
}
.cart_text_section p {
    font-size: 15px;
    font-weight: 700;
}
.cart_button {
    background: #000;
    width: 200px;
    border-radius: 25px;
    text-align: center;
}
.cart_button p {
    color: #fff;
    font-size: 20px;
}
.cart_button a {
    text-decoration: none;
}