.cart_header h3 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}
.cart_text_section p {
    font-size: 15px;
    font-weight: 700;
}
.cart_button {
    background: #000;
    width: 200px;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
}
.cart_button p {
    color: #fff;
    font-size: 20px;
}
.cart_button a {
    text-decoration: none;
}
.cart {
    color: #000;
    padding: 24px;
    text-align: center;
    width: 93%;
    margin-bottom: 20px;
    border-radius: 11px;
}
.cart_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1592px;
}
.w3_cart {
    background: #282a35;
    padding: 50px 30px;
}
@media only screen and ( max-width: 998px) {
.cart_section {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 47px;
}
  
}