/* .wrapper {
    padding: 100px 0px;
}  */
.section {
    background: #282a35;
    margin-top: 51px;
}
.overlep_header {
    text-align: center;
    padding: 30px -6px;
    padding: 20px;
}
.overlep_header h1 {
    color: #fff;
}
.img_text {
    max-width: 200px;
}
.img img {
    width: 100%;
}
.img {
    width: 48px;
    margin-left: 65%;
}
.text p {
    font-size: 18px;
/*     width: 275px; */
    text-align: center;
}
.bolder img {
    width: 213px;
    height: 66px;
}

.overlep_section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 63px;
}
.overlep {
    display: flex;
}
.text p {
    color: #fff;
}










@media only screen and (max-width:947px) {
  .bolder {
    display: none;
  }
  .overlep_section {
    display: grid;
  }
  .img {
    width: 48px;
     margin-left:0px;
    margin: 0 auto;
}
}