 .wrapper {
/*     max-width: 1488px;
    margin: 0 auto; */
    padding: 100px 0px;
} 
.section {
    background: #282a35;
}
.img_text {
    max-width: 200px;
}
.img img {
    width: 100%;
}
.img {
    width: 48px;
/*     margin-right:-87px;
    text-align: center; */
}
.text p {
    font-size: 18px;
    width: 275px;
    text-align: center;
}
.bolder img {
    width: 213px;
    height: 66px;
}

.overlep_section {
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
}
.overlep {
    display: flex;
}
.text p {
    color: #fff;
}