.wrapper {
    max-width: 1424px;
    margin: 0 auto;
    padding: 50px 0px;
}
.img img {
    width: 47px;
}
.img {
    width: 200px;
}
.text p {
    font-size: 18px;
    width: 275px;
    text-align: center;
}
.bolder img {
    width: 213px;
    height: 66px;
}
.img_text {
    display: flex;
}
.overlep_section {
    display: flex;
}