.collumn h3 {
    font-weight: 600;
    font-size: 24px;
    color: #04aa6d;
   text-align: center;
}
.collumn_section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #282a35;
    max-width: 202px;
    margin: auto;
  text-align: center;
}
.collumn_section {
    display: flex;
    justify-content: center;
}